// About
// component and page

.about {
  text-align: center;

  figure {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid $gray-darker;
    margin: 0 auto 20px auto;
    
    @media (min-width: $medium-devices) {
      margin-bottom: 80px;
    }
    
    img {
      max-width: 100%;

      transition: filter .25s linear 0s;

      &:hover {
        filter: grayscale(1);
      }
    }
  }
  
  p {
    color: $black;
    font-family: $ff-secondary;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
    
    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $medium-devices) {
      font-size: 36px;
      letter-spacing: 1px;
    }
  }

  a {
    color: $black;
    font-weight: 400;
    margin-top: 20px;
    display: inline-block;
    font-size: 18px;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }

    @media (min-width: $medium-devices) {
      margin-top: 80px;
      text-decoration: none;
    }
  }
}

.extra-social {
  margin: 60px 0;

  li {
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
  }

  a {
    display: inherit;
    align-items: center;
  }

  p {
    color: $black;
  }

  .icon {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 20px 0 0;
  }
}

.description-list {
  list-style-type: disc;
  padding-left: 60px;
}

.presentation {
  font-family: $ff-default;
  font-size: 30px;
  margin-bottom: 40px;

  @media (min-width: $medium-devices) {
    font-size: 70px;
  }

  a {
    color: $black;
    text-decoration: underline;
  }
}

.text {
  @extend .description-text;

  font-size: 22px !important;
  font-weight: 100;
  font-family: $ff-default !important;

  @media (min-width: $medium-devices) {
    font-size: 30px !important;
  }
}

.topic {
  border-bottom: 1px solid $gray-darker;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 6px;

  @media (min-width: $medium-devices) {
    font-size: 28px;
  }
}

.box {
  margin-bottom: 80px;
}

.about-list {
  @extend .writings-list;
  width: 100% !important;

  li {
    border-bottom: none !important;
  }
}