// Blog and Blog Posts

.blog-post-container {
  background-color: $white;
  width: 100%;
  margin-bottom: 200px;

  h1 {
    @extend .section-title;
    margin-top: 50px;
  }

  .blog-post-header {
    text-align: center;
  }

  .blog-post-content {
    width: 80%;
    margin: 0 auto;

    @media (min-width: $medium-devices) {
      max-width: 980px;
    }
  }

  a {
    color: $black;
    text-decoration: underline;
    word-break: break-all;
  }

  p {
    font-size: 18px;
    line-height: 36px;
    display: block;
    margin-bottom: 20px;

    img {
      margin: 30px auto;
    }
  }

  h3, h2 {
    margin: 40px 0 20px 0;
  }

  em {
    font-size: 12px;
    font-style: normal;
    display: block;
    text-align: center;
  }

  h4 {
    margin: 40px 0 20px 0;
  }

  hr {
    margin: 100px 0 50px 0;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  blockquote {
    background: $gray-darker;
    display: block;
    margin-left: 0;
    padding: 20px 10px 20px 50px;

    p {
      margin-bottom: 0;
    }
  }

  ul {
    @media (min-width: $medium-devices) {
      margin-left: 50px;
    }

    li {
      list-style-type: circle;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}