// Footer

.footer {
  background-color: $black;

  small {
    color: $white;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 11px;
    margin: 10px 0;
  }

  span {
    color: red;
    display: inline-block;
    animation: pulse 1s infinite;
    animation-play-state: running;

    &:hover {
      animation-play-state: paused;
    }
  }

  a {
    cursor: help;
  }
}

@keyframes pulse {
  0% { transform: scale(1); }
  100% { transform: scale(0.8); }
}