// Grid

#app {
  display: grid;
  grid-template-rows: minmax(80px, auto) auto 40px;
  grid-template-columns: auto 1fr auto;
}

%header-grid {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 4;
}

%content-grid {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

%footer-grid {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}

.content {
  @extend %content-grid;
  
  display: flex;
  flex-flow: column;
  align-items: center;
}

.footer {
  @extend %footer-grid;
}