// Header Styles

.header {
  @extend %header-grid;
  background-color: $black;

  position: sticky;
  top: 0;
  padding: 10px 0;

  z-index: 10;

  .container {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 80%;

    @media (min-width: $medium-devices) {
      flex-flow: row;
      align-items: center;
      max-width: 90%;
    }
  }
  
 .logo {
    flex: 1;
    text-align: center;
   
   @media (min-width: $medium-devices) {
     margin-top: 0;
     text-align: left;
   }
 
    a { display: inline-block; }
  }
  
  ul {
    display: flex;
  }
  
  .menu-links {
    justify-content: space-around;
    
    @media (min-width: $medium-devices) {
      justify-content: space-evenly;
    }
  }
  
 .menu {
    flex: 3;
    margin: 20px 0 0 0;
   
   @media (min-width: $medium-devices) {
     margin: 0;
   }
   
   a {
     opacity: .7;
     transition: opacity .25s linear 0s;
     
     &.js-active,
     &:hover {
      opacity: 1;
    }
   }
  }
  
  .social-links {
    flex: 1;
    display: none;
    
    @media (min-width: $medium-devices) {
      display: flex;
      justify-content: flex-end;
    }
    
    li {
      margin-right: $default-mg/2;

      &:last-child {
        margin-right: 0;
      }
    }
    
    a {
      opacity: .7;
      transition: opacity .25s linear 0s;
      
      &:hover {
        opacity: 1;
      }
    }
  }
}