// Header Styles

.header {
  @extend %header-grid;
  background-color: $white;
  height: auto;
  margin-top: 10px;
  padding: 10px 0;
  z-index: 10;

  @media (min-width: $medium-devices) {
    margin-top: 40px;
    height: 110px;
  }

  .container {
    justify-content: space-between;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 80%;
    align-items: center;

    @media (min-width: $medium-devices) {
      flex-flow: row;
      max-width: 90%;
    }
  }
  
 .logo {
    width: 100px;
    border: 1px solid $black;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 40px;

    @media (min-width: $medium-devices) {
      margin-top: 0;
      margin-bottom: 0;
      text-align: left;
    }
 
    a {
      display: block;
      width: 100%;
      height: 100%;
      background-color: $black;
      
      transition: background .25s linear;
      
      &:hover {
        background-color: $white;
      }
    }

    svg {
      margin: 25px;
    }
  }
  
  ul {
    display: flex;
  }
  
  .menu-links {
    justify-content: space-around;

    a {
      margin-right: 30px;
      font-size: 20px;
      color: $black;
      text-transform: uppercase;
      font-weight: 700;
      transition: border .25s linear 0s;
 
      border-bottom: 4px solid transparent;
      
      &.js-active,
      &:hover {
       border-bottom-color: $black;
     }

     &:last-child {
       margin-right: 0;
     }
    }
    
    @media (min-width: $medium-devices) {
      justify-content: space-evenly;
    }
  }
  
  .social-links {
    flex: 1;
    display: none;
    
    @media (min-width: $medium-devices) {
      display: flex;
      justify-content: flex-end;
    }
    
    li {
      margin-right: $default-mg/2;

      &:last-child {
        margin-right: 0;
      }
    }
    
    a {
      opacity: .7;
      transition: opacity .25s linear 0s;
      
      &:hover {
        opacity: 1;
      }
    }
  }
}