.hero {  
  .wrapper {
    height: calc(100vh - 180px);

    display: flex;
    flex-flow: column;
    justify-content: center;

    a {
      color: $black;
    }

    .crossed {
      text-decoration: line-through;
      display: inline;
    }

    span {
      font-weight: 700;
    }

    h2 {
      font-size: 80px;
      font-weight: 300;
      margin: 0;
      padding: 0;
      
      @media (min-width: $medium-devices) {
        font-size: 110px;
      }
    }

    h4 {
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      margin-top: $default-mg;
      padding: 0;

      @media (min-width: $medium-devices) {
        font-size: 24px;
      }
    }
  }
}