/* About page */

.aboutPage {
  width: 100%;
  margin: 0 auto;
}

/* Professional */
.professionalList {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  justify-content: space-between;
}

.professionalList li {
  margin: 10px;
  padding: 30px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid var(--primary);
}

.professionalList li:hover {
  border-color: var(--secondary);
}

/* Experience */

.experienceTechStach span {
  background-color: var(--ternary);
  margin-right: 5px;
  padding: 4px;
  font-family: monospace;
}

.experienceList {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.experienceList aside {
  margin-bottom: 40px;
}

.experienceList a {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  border-bottom: 5px solid var(--ternary);
  padding: 5px;
  font-size: 1.4rem;
  font-weight: 400;
}

.experienceList a:hover {
  border-color: var(--secondary);
}

.experienceList aside span {
  font-weight: 200;
  font-size: 1.2rem;
}
