html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Page Transition Animation */
.page {
  animation: fadeIn 0.5s both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ========== */

.help-cursor {
  cursor: help;
}

.text-border {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Logo */
.logo {
  margin-bottom: 10px;
}

@media (min-width: 720px) {
  .logo {
    margin-bottom: 0;
  }
}

.logo a:hover {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* ========== */

/* Btn Styles */
.listBtn {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

@media (min-width: 720px) {
  .listBtn {
    justify-content: right;
  }
}

.listBtn li {
  margin: 0;
}

.linkBtn {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  margin-left: 10px;
  text-transform: lowercase;
  border: 1px solid #ffffff;
  position: relative;
}

.linkBtn:hover {
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
}

.linkBtn.active {
  border-color: #3298ff;
  background-color: #fff;
  color: #000000;
}

/* ========== */

/* Grid for Internal Pages */

.internal-grid {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.hero {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  overflow: hidden;
  max-height: 800px;

  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}

.hero:hover .hero-image {
  filter: none;
}

.hero-image {
  width: 100%;
  filter: grayscale(1);
  max-height: 500px;
  background-color: #000;
}

@media (min-width: 720px) {
  .hero-image {
    max-height: 100%;
  }
}

.hero-text {
  color: #fff;
  position: absolute;
  width: 100%;
  max-height: 300px;
  text-align: center;
  padding: 0 20px;
}

@media (min-width: 720px) {
  .hero-text {
    padding: 0;
    top: 50%;
    margin-top: -150px;
  }
}

.hero-text h1 {
  margin-bottom: 0;
  font-size: 4rem;
}

/* ========== */

.page h2 {
  font-family: "Inter", sans-serif;
  border-bottom: 2px solid #dedede;
  padding-bottom: 5px;
  text-transform: capitalize;
  margin-top: 60px;
}

.page p {
  line-height: 1.5rem;
  margin: 1.4rem 0;
  font-family: "Inter", sans-serif;
  position: relative;
  z-index: 1;
}

.page a {
  border-bottom: 2px solid #3298ff;
  font-weight: 800;
}

.page a:hover {
  border-bottom-style: dashed;
}

.experience ul li a {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  border-bottom: 0px solid transparent;
  background-color: rgba(191, 191, 191, 0.5);
  padding: 5px;
}

/* summary home */

.summary::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  left: -30px;
  z-index: -1;
  background: #dedede;
}

.global-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* ========== */

/* List items  */

.list-items-card {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-items-card li {
  margin: 20px;
  transition: box-shadow 0.2s linear 0s;
}

.list-items-card li:hover {
  box-shadow: 2px 10px 10px rgb(0 0 0 / 60%);
}

.list-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-items li {
  margin-bottom: 2rem;
}

.list-items li:hover {
  background-color: #faf7f7;
}

.list-items p {
  font-weight: 300;
  margin: 1rem 0;
}

.list-items a {
  display: block;
  padding: 1rem 0;
}

/* ========== */

/* Overwrite NProgress */

#nprogress .spinner {
  top: 40%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
}

#nprogress .spinner-icon {
  width: 80px;
  height: 80px;
}

/* ========== */
/* blog */

.blog-page img {
  background-color: #f1f1f1;
  margin: 1rem 0;
  display: inline-block;
  width: 100%;

  filter: none;
  -webkit-filter: grayscale(0);

  transition: all 0.25s linear 0s;
}

.blog-page img:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.blog-page code {
  padding: 0.2rem;
  display: inline-block;
}

.blog-page code:not([class]) {
  background-color: #f1f1f1;
  padding: 0 5px;
  margin: 0 5px;
}

.blog-page pre {
  background-color: #f1f1f1;
  padding: 10px;
}

.blog-page p {
  font-weight: 300;
  margin: 1rem 0;
}

.blog-page a {
  display: inline-block;
  padding: 0;
}

.blog-page figcaption {
  margin: 1rem 0;
}

.blog-page figcaption a {
  font-weight: 300;
  display: block;
  text-align: center;
  border-bottom-color: transparent;
  color: #dedede;
}

.blog-page figcaption a:hover {
  color: #000000;
}

.blog-page blockquote {
  padding: 1rem;
  text-align: center;
  margin: 2rem auto;
  position: relative;
}

@media (min-width: 960px) {
  .blog-page blockquote {
    width: 40%;
  }
}

.blog-page blockquote::after {
  content: "\201C";
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  font-size: 60px;
}

.blog-page blockquote::before {
  content: "\201D";
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  font-size: 60px;
}

.blog-page blockquote::first-letter {
  font-weight: 700;
  font-size: 32px;
}

.article-intro {
  display: block;
  text-align: center;
}

.article-intro h1 {
  font-size: 30px;
  margin-bottom: 0;
  text-transform: initial;
}

@media (min-width: 720px) {
  .article-intro h1 {
    font-size: 50px;
  }
}

.article-intro time {
  display: inline-block;
  margin: 1rem 0;
}

/* article content */

.article-content {
  margin: 0 auto;
  width: 80%;
}

.article-content li {
  margin-bottom: 20px;
}

@media (min-width: 960px) {
  .article-content {
    width: 60%;
  }
}

.title-link a {
  border-bottom: 0;
}

/* prev/next posts sections */
.more-posts {
  width: 80%;
  margin: 60px auto;
  min-height: 200px;
}

@media (min-width: 960px) {
  .more-posts {
    width: 60%;
  }
}

.more-posts-container {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 60px auto;
}

@media (min-width: 720px) {
  .more-posts-container {
    justify-content: space-between;
  }
}

/* Coords Card Component */
.coords-card {
  box-shadow: 0px 1px 3px rgb(0 0 0 / 50%);
  padding: 20px;
  position: relative;
}

.coords-card svg {
  overflow: visible;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.coords-metadata .title {
  margin: 0 auto;
  text-align: center;
}

.coords-metadata .time {
  margin: 10px auto;
  text-align: center;
  display: block;
  color: #cccccc;
}

.coords-metadata .distance {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  border: 1px solid #3298ff;
}
