/* Header */

.globalHeader {
  flex-flow: column;
  align-items: center;

  padding: 20px;
  display: flex;

  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 0 1px 1px #dedede;
}

@media (min-width: 720px) {
  .globalHeader {
    flex-flow: row;
    justify-content: space-between;
  }
}

.globalHeader ul {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.globalHeader ul li {
  margin-right: 1rem;
  list-style-type: none;
  margin-bottom: 0;
}

.globalHeader ul li:last-child {
  margin-right: 0;
}

.globalHeader ul a {
  padding: 6px 12px;
  display: block;
}

.globalHeader h1 {
  margin: 0;
  padding: 0;
}
