/* Header */

.globalHeader {
  align-items: center;
  padding: 20px;
  display: flex;
  background-color: var(--default);
  justify-content: center;
}

.globalHeader ul {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}
