/* Css Variables */

/*
  Colors:
  $main-bg-color: #FFFFFF;
  $main-font-color: #000000;
  $main-link-color: #DEDEDE;
  $main-link-hover: #efcb68;

  Sizes:
  $pd-default-size: 4rem;

  Font:
  $ff-default: 'Inter', sans-serif;
  $fw-bold: 800;

  Grid:
  https://getbootstrap.com/docs/4.0/layout/grid/#grid-options
*/

/* Mobile */
.container {
  padding: 0 2rem;
}

.footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  min-height: calc(100vh - 210px);
  justify-content: center;
}

.main h1 {
  margin: 0;
  font-size: 3rem;
}

.main h2 {
  margin: 0;
  border: 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: none;
}

.main h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
}

.box {
  margin: 1rem 0;
}

.box:nth-child(1) {
  order: 3;
}

.box:nth-child(2) {
  order: 1;
}

.box:nth-child(3) {
  order: 2;
}

.link {
  border-bottom: 4px solid var(--secondary);
  font-weight: 800;
}

.link:hover {
  border-bottom-style: dashed;
}

/* Tablets */

@media (min-width: 720px) {
  .box {
    flex: 1;
    margin: 20px;
  }

  .box:nth-child(1) {
    order: 1;
  }

  .box:nth-child(2) {
    order: 2;
  }

  .box:nth-child(3) {
    order: 3;
    flex: 0;
  }

  .mainTitle {
    font-size: 7rem;
    line-height: 7rem;
  }
}

/* Desktops */

@media (min-width: 960px) {
  .box:nth-child(1) {
    flex: 2;
    text-align: right;
  }
}
