/* Css Variables */

/*
  Colors:
  $main-bg-color: #FFFFFF;
  $main-font-color: #000000;
  $main-link-color: #DEDEDE;
  $main-link-hover: #3298FF;

  Sizes:
  $pd-default-size: 4rem;

  Font:
  $ff-default: 'Inter', sans-serif;
  $fw-bold: 800;

  Grid:
  https://getbootstrap.com/docs/4.0/layout/grid/#grid-options
*/

.container {
  padding: 0 2rem;
  /* 50px === footer height */
  /* height: calc(100vh - 50px); */
  height: 100%;
}

.introduction {
  /* background-color: pink; */
  margin: 2rem 0;
}

/* @media (min-width: 720px) {
  .introduction {
    margin: 0;
  }
} */

.moreInfo {
  /* background-color: orange; */
  display: flex;
  flex-flow: column;
  justify-content: end;
  align-items: center;
}

@media (min-width: 720px) {
  .moreInfo {
    flex-flow: row;
  }
}

.footer {
  /* background-color: green; */
  visibility: hidden;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: baseline;
}

@media (min-width: 720px) {
  .footer {
    visibility: visible;
  }
}

.main {
  /* background: orange; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: 720px) {
  .main {
    max-width: 80%;
  }
}

.box {
  /* background-color: purple; */
  margin-left: 0;
  margin: 1rem;
}

@media (min-width: 720px) {
  .box {
    margin: 0;
    padding: 2rem;
    margin-left: 4rem;
  }
}

.mainTitle {
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  margin: 0;
}

.mainTitle span {
  font-style: italic;
}

@media (min-width: 720px) {
  .mainTitle {
    font-size: 7rem;
  }
}

@media (min-width: 960px) {
  .mainTitle {
    font-size: 9rem;
  }
}

.wrapper {
  /* background: oldlace; */
  /* height: 100vh; */
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.paragraph {
  line-height: 1.5rem;
}

.link {
  border-bottom: 2px solid #3298ff;
  font-weight: 800;
}

.link:hover {
  border-bottom-style: dashed;
}

.listBtn {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.linkBtn {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  margin-left: 10px;
  text-transform: lowercase;
  border: 1px solid #ffffff;
  position: relative;
}

.linkBtn:hover {
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
}
